@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.items {
  display: flex;
  justify-content: space-between;
}

section {
  background-color: rgb(13, 124, 172);
  margin: 10px 40px;
  color: white;
  padding: 10px 20px;
  font-family: "Signika Negative", sans-serif;
  border-radius: 5px;
}
h1 {
  font-size: 3rem;
  color: #443c68;
  font-family: "Signika Negative", sans-serif;
}
.button-container2 {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 30px;
}
.check {
  padding: 5px 9px;
  cursor: pointer;
  background-color: rgb(23, 25, 86);
  border: none;
  border-radius: 4px;
  color: white;
}
.check:hover {
  background-color: black;
}
a {
  text-transform: capitalize;
  font-size: 20px;
  font-family: "Signika Negative", sans-serif;
}
a:hover {
  color: rgb(0, 0, 0);
}
.total-amount {
  padding: 10px 40px;
  color: #443c68;
  font-family: "Signika Negative", sans-serif;
}
